{% load staticfiles %}

<script type="text/template" id="list_detail_view_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">

               <!-- detailed header-->
        <div class="row details_header overflow_hidden" style="width: 100%; margin-left: 0px; margin-right:0px;">

            <div class="large-2 small-4 columns" style="margin-top: 5px;">
                <img alt="<%=company.name%>" class="header_contact_image" src="<%=company.logo%>">
            </div>

            <div class="large-6 small-6 columns" style="margin-top: 5px;">
                <h3><%=company.name%></h3>
                <h5><%=vcs_service.get_named_list_items(type)%></h5>
            </div>

            <div class="large-4 small-2 columns" style="margin-top: 5px;">
                <ul class="large-block-grid-5 small-block-grid-1">
                <%
                    if(typeof company.url != "undefined" &&
                        company.url != null &&
                        company.url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=company.url%>" target="_blank">
                                <img alt="<%=company.url%>" class="email_img" src="{% static 'img/retina/url.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>
                </ul>
            </div>

        </div>

        <br/>
        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Contact details:</span>

        <%
            // console.log(contact_details);
            if(typeof(contact_details) != "undefined"
                && contact_details != null
                && contact_details != "") {
                %>
                    <div class="activity-panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                        <span style="font-size:12px;"><%=contact_details%></span>
                    </div>
                <%
            }
            else{

               %>
                    <p>
                        <span style="font-size:12px; margin-left: 10px;">No known contact details</span>
                    </p>
                <%

            }
        %>

            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

            <span style="margin-left: 10px; text-decoration: underline;">Most promising portfolio companies:</span>

            <%
                if(most_promising_portfolio_companies.length > 0){

                    %>
                        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" style="width: 100%; margin-left: 0px; margin-top: 10px;">
                            <%

                                for(var i=0; i<most_promising_portfolio_companies.length; i++) {

                                    var curr_activity = most_promising_portfolio_companies[i];
                                    if(curr_activity.name == null || curr_activity.name == ""){
                                        continue;
                                    }
                                    %>
                                        <li>
                                            <div class="activity-panel radius">
                                              <img alt="<%=curr_activity.name%>" class="activity_company_logo" src="<%=curr_activity.logo%>">
                                              <span style="font-size:12px;"><%=curr_activity.name%></span>
                                            </div>
                                        </li>
                                    <%
                                }
                            %>
                        </ul>

                    <%
                }
                else {

                    %>
                        <p style="margin-left: 10px;">
                            <span style="font-size:12px;">No known companies</span>
                        </p>
                    <%
                }
            %>

            </div>
        </div>
    </div>
</script>