<script type="text/template" id="list_detail_view_filter_bar">
    <!-- filter bar-->
    <div class="row content_container gen_drop_shadow filter_bar">
        <div class="large-4 medium-4 small-4 columns">
            <label>Name:</label>
            <input data-filter_key="company__name__icontains" type="text" value="<%=filter_by['company__name__icontains']%>">
        </div>

        <div class="large-4 medium-4 small-4 columns">
            <label>Type:</label>
            <select>
                <option value="">All</option>
                <%
                    for(key in INVESTOR_KIND){
                        var value = INVESTOR_KIND[key];
                        var applied_filter_value = filter_by['type__name'];
                        var selected = "";
                        if(value == applied_filter_value){
                            selected = "selected";
                        }

                        %>
                            <option data-filter_key="type__name" value="<%=value%>" <%=selected%>><%=value%></option>
                        <%
                    }
                %>
            </select>
        </div>

        <div class="large-4 medium-4 small-4 columns" style="margin-top: 24px;">
            <a href="#" onclick="vcs_service.filter(this);" class="button tiny radius" style="float: right; margin-left: 5px; margin-bottom: 3px;">filter</a>
            <a href="#" onclick="vcs_service.reset(this);" class="button tiny radius secondary hide-for-small-only" style="float: right; margin-left: 5px;">reset</a>
        </div>
    </div>
</script>

