@mixin uppercase {
	text-transform: uppercase;	
}

@mixin margin_top($margin) {
	margin-top:$margin;
}

@mixin font_size($size) {
	font-size: $size;
}

@mixin center_in_div($height) {
	display: table-cell; 
	height: $height;
	vertical-align: middle;
}

@mixin contact_image($size) {
	border-bottom-color: rgb(238, 238, 238);
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(233, 234, 236);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(233, 234, 236);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(247, 248, 249);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 4px 0px;
	color: rgb(51, 51, 51);
	display: block;
	height: $size;
	width: $size;
	line-height: $size;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 12px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: middle;
}

@mixin detailed_view_header_contents_base($color) {
    background-color: $color;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 36px;
}


$max_height : 590px;

$box_shadow_color :#ADADAD;

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right: solid 1px #ABABAB;
}

.max_height_scroll {
  height: $max_height;
}


.row {
	width: 95%;
	max-width: 100rem;
}

label {
	margin-top: 3px;
}

.filter_bar input, .filter_bar select {
	max-width: 125px;
	max-height: 30px;
}

.uppercase {
	@include uppercase;
}

nav.top-bar a {
	@include uppercase;
	font-weight: $font-weight-light;
}

.selected_tab {
	background-color: $draker_white;
}

.content_container {
	background-color: #FFF;
	border-radius: 3px;
	@include margin_top(10px);
}

.email_img{
    width: 30px;
    height: 30px;
}

.linkedin_img{
    width: 35px;
    height: 30px;
}


.gen_drop_shadow {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: #ADADAD 0px 0px 3px 1px;	
}

.sorting{
    @include font_size(12px);
}

.center_in_div_36 {
	@include center_in_div(36px);
}

.space_between {
	margin-top: 3px; 
	margin-bottom: 3px;	
}

.select_box {
	align-items: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	cursor: default;
	display: inline-block;
	height: 30px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	text-align: start;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	white-space: pre;
	width: 113px;
	word-spacing: 0px;
}

.summ_list_container {
	background-color: lightgrey;
	overflow-y: auto;
  overflow-x: hidden;
}

.summ_list_item {
	background-color: white;
	color: #292d2e;
	cursor: pointer;
	display: list-item;
	font-family: MuseoSans300, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 7px;
	margin-right: 0px;
	margin-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	position: relative;
	text-align: left;
	min-height: 75px;
	width: 95%;
}

.selected_list_item {
	box-shadow: #109beb 0px 0px 3px 1px;
}


.detailed_view_header_contents_black {
  @include detailed_view_header_contents_base($dark_black);
}

.detailed_view_header_contents_white {
  @include detailed_view_header_contents_base(#FFF);
}

.detailed_view_body_contents {
	background-color: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow-y: auto;
	overflow-x: hidden;
}

.contact_image {
	@include contact_image(55px);
}

.details_header {
	background-color: $dark_black;
	color: #FFFFFF;
	height: 120px;
}

.header_contact_image {
	@include contact_image(79px);
}

.info-panel.radius span, .info-panel.radius p {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 5px;
}

.info-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:$panel-bg,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:0px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  border-radius: 3px;
}

.info-panel .title {
  text-decoration: underline;
}


.activity-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#f8f9fb,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:5px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  border-radius: 3px;
  font-size: 12px;
}

.activity-panel p {
  font-size: 12px;
}

.activity_company_logo{
	width: 55px;
	height: 55px;
}

.overflow_hidden {
    overflow:hidden;
}

#spinner_global_container{
    width : 100%;
    height : 100%;
    top:0px;
    left:0px;
    position: absolute;
    z-index:10000;
    background-color: rgba(0, 0, 0, 0.48);
}

#spinner_inner_container{
    width: 130px;
    height: 145px;
    margin-top:200px;
    margin-right: auto;
    margin-left: auto;
    background-color:#FFF;
    z-index:10000;
    border-radius:3px;
}

#loading_text {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
}

.pettit_padding {
  padding: 3px;
}

.box_shadow_top_only{
  box-shadow: $box_shadow_color 0 -3px 3px -3px;
}

.box_shadow_right_only{
  box-shadow: $box_shadow_color 3px 0 3px -3px;
}

.box_shadow_bottom_only{
  box-shadow: $box_shadow_color 0 3px 3px -3px;
}
.box_shadow_left_only{
  box-shadow: $box_shadow_color -3px 0 3px -3px;
}

