<script type="text/template" id="list_detail_view_filter_bar">
    <!-- filter bar-->
    <div class="row content_container gen_drop_shadow filter_bar">
        <div class="large-2 medium-3 small-3 columns">
            <label>Name:</label>
            <input data-filter_key="contact__name__icontains" type="text" value="<%=filter_by['contact__name__icontains']%>">
        </div>

        <div class="large-2 medium-3 small-3 columns">
            <label>Location:</label>
            <input data-filter_key="location__name__icontains" type="text" value="<%=filter_by['location__name__icontains']%>">
        </div>

        <div class="large-2 medium-3 small-3 columns">
            <label>Kind:</label>
            <select>
                <option value="">All</option>
                <%
                    for(key in INVESTOR_KIND){
                        var value = INVESTOR_KIND[key];
                        var applied_filter_value = filter_by['kind__name'];
                        var selected = "";
                        if(value == applied_filter_value){
                            selected = "selected";
                        }

                        %>
                            <option data-filter_key="kind__name" value="<%=value%>" <%=selected%>><%=value%></option>
                        <%
                    }
                %>
            </select>
        </div>

        <div class="large-2 columns show-for-large-up">
            <label>Activity level:</label>
            <select>
                <option value="">All</option>
                <%
                    for(key in ACTIVITY_LEVEL){
                        var value = ACTIVITY_LEVEL[key];
                        var applied_filter_value = filter_by['activity_level'];
                        var selected = "";
                        if(value == applied_filter_value){
                            selected = "selected";
                        }

                        %>
                            <option data-filter_key="activity_level" value="<%=value%>" <%=selected%>><%=key%></option>
                        <%
                    }
                %>
            </select>
        </div>

        <div class="large-2 columns show-for-large-up">
          <label>Does follow-ons</label>
          <input type="radio" name="followons" data-filter_key="do_followons" value="True"><label for="yes">Yes</label>
          <input type="radio" name="followons" data-filter_key="do_followons" value="False"><label for="No">No</label>
        </div>

        <div class="large-2 medium-3 small-3 columns" style="margin-top: 24px;">
            <a href="#" onclick="investor_service.filter(this);" class="button tiny radius" style="float: right; margin-left: 5px; margin-bottom: 3px;">filter</a>
            <a href="#" onclick="investor_service.reset(this);" class="button tiny radius secondary hide-for-small-only" style="float: right; margin-left: 5px;">reset</a>
        </div>
    </div>
</script>

