{% load staticfiles %}

<script type="text/template" id="list_detail_view_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">

        <!-- detailed header-->
        <div class="row details_header overflow_hidden" style="width: 100%; margin-left: 0px; margin-right:0px;">

            <div class="large-2 small-4 columns" style="margin-top: 5px;">
                <img alt="<%=contact.name%>" class="header_contact_image" src="<%=contact.picture%>">
            </div>

            <div class="large-6 small-6 columns" style="margin-top: 5px;">
                <h3><%=contact.name%></h3>
                <h5><%=investor_service.get_named_list_items(kind)%>, <%=investor_service.get_named_list_items(location)%></h5>

                <%
                    if(typeof(entity) != "undefined" &&
                        entity != null &&
                        entity != ""){

                        %>
                            <h6><%=entity.name%></h6>
                        <%
                    }
                %>
            </div>
            <div class="large-4 small-2 columns" style="margin-top: 5px;">

                <ul class="large-block-grid-5 small-block-grid-1">
                <%
                    if(typeof contact.email != "undefined" &&
                        contact.email != null &&
                        contact.email != ""){

                        %>
                        <li style="padding: 3px;">
                            <a href="mailto:<%=contact.email%>" target="_blank">
                                <img alt="<%=contact.email%>" class="email_img" src="{% static 'img/retina/email.png' %}">
                            </a>
                        </li>
                        <%

                    }
                %>

                <%
                    if(typeof contact.linkedin_url != "undefined" &&
                        contact.linkedin_url != null &&
                        contact.linkedin_url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=contact.linkedin_url%>" target="_blank">
                                <img alt="<%=contact.linkedin_url%>" class="linkedin_img" src="{% static 'img/retina/linkedIn_Icon.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>


                <%
                    if(typeof contact.crunchbase_url != "undefined" &&
                        contact.crunchbase_url != null &&
                        contact.crunchbase_url != ""){
                        %>
                        <li class="show-for-large-up" style="padding: 3px;">
                            <a href="<%=contact.crunchbase_url%>" target="_blank">
                                <img alt="<%=contact.crunchbase_url%>" class="email_img" src="{% static 'img/retina/crunchbase_icon_512.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>

                <%
                    if(typeof contact.url != "undefined" &&
                        contact.url != null &&
                        contact.url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=contact.url%>" target="_blank">
                                <img alt="<%=contact.url%>" class="email_img" src="{% static 'img/retina/url.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>

                </ul>
            </div>

        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" style="width: 100%; margin-left: 0px; margin-top: 20px;">

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Activity Level:</span>
                          <p><%=activity_level%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Max Investment:</span>
                          <p><%=max_investment%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Min Investment:</span>
                          <p><%=min_investment%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Followons:</span>
                          <p><%=do_followons%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Convertable Loans:</span>
                          <p><%=do_convertible_note%></p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

            <span style="margin-left: 10px; text-decoration: underline;">Activities:</span>

            <%
                if(activity.length > 0){

                    %>
                        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" style="width: 100%; margin-left: 0px; margin-top: 10px;">
                            <%

                                for(var i=0; i<activity.length; i++) {

                                    var curr_activity = activity[i];

                                    %>
                                        <li>
                                            <div class="activity-panel radius">
                                              <img alt="<%=curr_activity.name%>" class="activity_company_logo" src="<%=curr_activity.logo%>">
                                              <span style="font-size:12px;"><%=curr_activity.name%></span>
                                            </div>
                                        </li>
                                    <%
                                }
                            %>
                        </ul>

                    <%
                }
                else {

                    %>
                        <p style="margin-left: 10px;">
                            <span style="font-size:12px;">No known activities</span>
                        </p>
                    <%
                }
            %>

            </div>
        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Loved Companies:</span>

        <%
            // console.log(loved_companies);
            if(typeof(loved_companies) != "undefined"
                && loved_companies != null
                && loved_companies != "") {
                %>
                    <div class="activity-panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                        <span style="font-size:12px;"><%=loved_companies%></span>
                    </div>
                <%
            }
            else{

               %>
                    <p>
                        <span style="font-size:12px; margin-left: 10px;">No known loved companies</span>
                    </p>
                <%

            }
        %>

            </div>
        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Intrests:</span>
            <p style="margin-left:10px;">

                <%
                    // console.log(primary_interest);
                    if(primary_interest.length > 0){

                        for(var i=0; i<primary_interest.length; i++) {

                            var curr_primary_interest = primary_interest[i];

                            %>
                                <span class="label radius"><%=curr_primary_interest.name%></span>
                            <%
                        }
                    }
                    else {

                        %>
                            <span style="font-size:12px;">No known primary interests</span>
                        <%

                    }
                %>

            </p>
            </div>
        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Other intrests:</span>
            <p style="margin-left:10px;">

                <%
                    // console.log(other_interests);
                    if(other_interests.length > 0){

                        for(var i=0; i<other_interests.length; i++) {

                            var curr_other_interests = other_interests[i];

                            %>
                                <span class="label info radius"><%=curr_other_interests.name%></span>
                            <%
                        }
                    }
                    else {

                        %>
                            <span style="font-size:12px;">No known other interests</span>
                        <%

                    }
                %>

            </p>
            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Approach:</span>
            <p style="margin-left:10px;">

                <%
                    // console.log(approach);
                    if(approach.length > 0){
                        for(var i=0; i<approach.length; i++) {
                            var curr_approach = approach[i];
                            %>
                                <span class="label secondary radius"><%=curr_approach.name%></span>
                            <%
                        }
                    }
                    else {
                        %>
                            <span style="font-size:12px;">No known approach time</span>
                        <%
                    }
                %>
            </p>
            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Guidelines:</span>

                <%
                    // console.log(guidelines);
                    if(typeof guidelines != "undefined" &&
                        guidelines != null &&
                        guidelines != ""){
                            %>
                                <div class="panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                                  <span><%=guidelines%></span>
                                </div>
                            <%
                    }
                    else {
                        %>
                            <p style="margin-left: 10px;">
                                <span style="font-size:12px;">No known guidelines</span>
                            </p>
                        <%
                    }

                %>

            </div>
        </div>

    </div>
</script>