{% load staticfiles %}

<script type="text/template" id="list_detail_view_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">

               <!-- detailed header-->
        <div class="row details_header overflow_hidden" style="width: 100%; margin-left: 0px; margin-right:0px;">

            <div class="large-2 small-4 columns" style="margin-top: 5px;">
                <img alt="<%=company.name%>" class="header_contact_image" src="<%=company.logo%>">
            </div>

            <div class="large-6 small-6 columns" style="margin-top: 5px;">
                <h3><%=company.name%></h3>
                <h5><%=accelerator_service.get_named_list_items(location).trunc(40)%></h5>
            </div>

            <div class="large-4 small-2 columns" style="margin-top: 5px;">

                <ul class="large-block-grid-5 small-block-grid-1">
                <%
                    // console.log(contact_information);
                    for(var i=0; i< contact_information.length ;i++){
                        var curr_email = contact_information[i].email;
                        if(typeof curr_email != "undefined" &&
                            curr_email != null &&
                            curr_email != ""){
                            // console.log(curr_email);
                            curr_email = curr_email.trim();
                            %>
                                <li style="padding: 3px;">
                                    <a href="mailto:<%=curr_email%>" target="_blank">
                                        <img alt="<%=curr_email%>" class="email_img" src="{% static 'img/retina/email.png' %}">
                                    </a>
                                </li>
                            <%
                        }
                        else{
                            continue;
                        }
                    }
                %>

                <%
                    if(typeof company.url != "undefined" &&
                        company.url != null &&
                        company.url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=company.url%>" target="_blank">
                                <img alt="<%=company.url%>" class="email_img" src="{% static 'img/retina/url.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>

                </ul>
            </div>


        </div>

        <br/>
        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

                <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3" style="width: 100%; margin-left: 0px; margin-top: 20px;">

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Number of graduated companies:</span>
                          <p><%=total_companies_graduated%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Max number of startups in class:</span>
                          <p><%=number_of_startups_in_class_max%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Min number of startups in class:</span>
                          <p><%=number_of_startups_in_class_min%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Next class:</span>
                          <p><%=next_class || 'unknown'%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Investment:</span>
                          <p><%=investment || 'unknown'%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Duration of program:</span>
                          <p><%=duration_of_program%></p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

            <span style="margin-left: 10px; text-decoration: underline;">Notable Alumni:</span>

            <%
                if(notable_alumni.length > 0){

                    %>
                        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" style="width: 100%; margin-left: 0px; margin-top: 10px;">
                            <%

                                for(var i=0; i<notable_alumni.length; i++) {

                                    var curr_alumni = notable_alumni[i];

                                    %>
                                        <li>
                                            <div class="activity-panel radius">
                                                <img alt="<%=curr_alumni.name%>" class="activity_company_logo" src="<%=curr_alumni.logo%>">
                                              <span style="font-size:12px;"><%=curr_alumni.name%></span>
                                            </div>
                                        </li>
                                    <%
                                }
                            %>
                        </ul>

                    <%
                }
                else {

                    %>
                        <p style="margin-left: 10px;">
                            <span style="font-size:12px;">No known alumni</span>
                        </p>
                    <%
                }
            %>

            </div>

        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Industries:</span>
            <p style="margin-left:10px;">

                <%
                    // console.log(primary_interest);
                    if(industry.length > 0){

                        for(var i=0; i<industry.length; i++) {

                            var curr_industry = industry[i];

                            %>
                                <span class="label radius"><%=curr_industry.name%></span>
                            <%
                        }
                    }
                    else {

                        %>
                            <span style="font-size:12px;">No known industries</span>
                        <%

                    }
                %>

            </p>
            </div>

        </div>


        <div class="row overflow_hidden">
        </div>


        <div class="row overflow_hidden">
        </div>

        <div class="row overflow_hidden">
        </div>

        <div class="row overflow_hidden">
        </div>

    </div>
</script>