<script type="text/template" id="list_detail_view_filter_bar">
    <!-- filter bar-->
    <div class="row content_container gen_drop_shadow filter_bar">
        <div class="large-3 medium-3 small-3 columns">
            <label>Name:</label>
            <input data-filter_key="company__name__icontains" type="text" value="<%=filter_by['company__name__icontains']%>">
        </div>

        <div class="large-3 medium-3 small-3 columns">
            <label>Location:</label>
            <input data-filter_key="location__name__icontains" type="text" value="<%=filter_by['location__name__icontains']%>">
        </div>


        <div class="large-3 medium-3 small-3 columns">
            <label>Graduated companies (number):</label>
            <input data-filter_key="total_companies_graduated__gte" type="text" value="<%=filter_by['total_companies_graduated__gte']%>">
        </div>

        <div class="large-3 medium-3 small-3 columns" style="margin-top: 24px;">
            <a href="#" onclick="accelerator_service.filter(this);" class="button tiny radius" style="float: right; margin-left: 5px; margin-bottom: 3px;">filter</a>
            <a href="#" onclick="accelerator_service.reset(this);" class="button tiny radius secondary hide-for-small-only" style="float: right; margin-left: 5px;">reset</a>
        </div>
    </div>
</script>

