{% load staticfiles %}

<script type="text/template" id="list_detail_view_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">

               <!-- detailed header-->
        <div class="row details_header overflow_hidden" style="width: 100%; margin-left: 0px; margin-right:0px;">

            <div class="large-2 small-4 columns" style="margin-top: 5px;">
                <img alt="<%=contact.name%>" class="header_contact_image" src="<%=contact.picture%>">
            </div>
            <%
            var location_str = "";
            if(typeof where != "undefined" && where != null){
                location_str = where.name;
            }
            %>
            <div class="large-6 small-6 columns" style="margin-top: 5px;">
                <h3><%=contact.name%></h3>
                <h5><%=location_str%></h5>
            </div>

            <div class="large-4 small-2 columns" style="margin-top: 5px;">

                <ul class="large-block-grid-5 small-block-grid-1">
                <%
                    if(typeof contact.email != "undefined" &&
                        contact.email != null &&
                        contact.email != ""){
                        // console.log(curr_email);
                        contact.email = contact.email.trim();
                        %>
                            <li style="padding: 3px;">
                                <a href="mailto:<%=contact.email%>" target="_blank">
                                    <img alt="<%=contact.email%>" class="email_img" src="{% static 'img/retina/email.png' %}">
                                </a>
                            </li>
                        <%
                    }
                %>

                <%
                    if(typeof contact.linkedin_url != "undefined" &&
                        contact.linkedin_url != null &&
                        contact.linkedin_url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=contact.linkedin_url%>" target="_blank">
                                <img alt="<%=contact.linkedin_url%>" class="linkedin_img" src="{% static 'img/retina/linkedIn_Icon.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>


                <%
                    if(typeof contact.crunchbase_url != "undefined" &&
                        contact.crunchbase_url != null &&
                        contact.crunchbase_url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=contact.crunchbase_url%>" target="_blank">
                                <img alt="<%=contact.crunchbase_url%>" class="email_img" src="{% static 'img/retina/crunchbase_icon_512.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>
                <%
                    if(typeof contact.url != "undefined" &&
                        contact.url != null &&
                        contact.url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=contact.url%>" target="_blank">
                                <img alt="<%=contact.url%>" class="email_img" src="{% static 'img/retina/url.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>

                </ul>
            </div>


        </div>

        <br/>
        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" style="width: 100%; margin-left: 0px; margin-top: 20px;">

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Phone number:</span>
                          <p><%=contact.mobile || "unknown"%></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Interested in:</span>

                <%
                    // console.log(guidelines);
                    if(typeof interested != "undefined" &&
                        interested != null &&
                        interested != ""){
                            %>
                                <div class="panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                                  <span style="font-size: 14px;"><%=interested%></span>
                                </div>
                            <%
                    }
                    else {
                        %>
                            <p style="margin-left: 10px;">
                                <span style="font-size:12px;">No known interests</span>
                            </p>
                        <%
                    }

                %>

            </div>
        </div>

    </div>
</script>