<script type="text/template" id="list_detail_view_sort_bar">
    <!-- sort bar-->
    <div class="row">
        <div class="large-4 medium-12 small-12 columns content_container">
            <div class="row sorting space_between">
                <div class="large-4 medium-4 small-5 columns">
                    <%
                        var count = meta.limit;
                        if(meta.total_count < meta.limit){
                            count = meta.total_count;
                        }
                    %>
                    <span class="center_in_div_36"><%=count%> of <%=meta.total_count%></span>
                </div>
                <div class="large-8 medium-8 small-7 columns text-right">
                    <select id="order_by_select_box" class="select_box" onchange="startup_service.set_order_by(this);">
                        <option value="last_updated" <%=order_by['order_by'] == 'last_updated' || order_by['order_by'] == '-last_updated' ? 'selected' : ''%>>Last updated</option>
                        <option value="company__name" <%=order_by['order_by'] == 'company__name' || order_by['order_by'] == '-company__name' ? 'selected' : ''%>>Name</option>
                    </select>
                    <%
                        var order_by_key = 'ASC';
                        if(order_by['order_by'].indexOf('-') != -1){
                            order_by_key = 'DESC';
                        }
                    %>
                    <a id="order_by_order" onclick="startup_service.change_order_by_order(this)" data-value="<%=order_by_key%>"><%=order_by_key%></a>
                </div>
            </div>
        </div>

        <div class="large-8 show-for-large-up columns" style="margin-top: 10px;">
            <div class="row detailed_view_header_contents_black space_between" style="margin-left: 1px;">

            </div>
        </div>
    </div>
</script>