{% load staticfiles %}

<script type="text/template" id="list_detail_view_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">

        <!-- detailed header-->
        <div class="row details_header overflow_hidden" style="width: 100%; margin-left: 0px; margin-right:0px;">

            <div class="large-2 small-4 columns" style="margin-top: 5px;">
                <img alt="<%=company.name%>" class="header_contact_image" src="<%=company.logo%>">
            </div>

            <div class="large-6 small-6 columns" style="margin-top: 5px;">
                <h3><%=company.name%></h3>
                <h5><%=startup_service.get_named_list_items(location)%></h5>
            </div>

            <div class="large-4 small-2 columns" style="margin-top: 5px;">
                <ul class="large-block-grid-5 small-block-grid-1">
                <%
                    if(typeof company.url != "undefined" &&
                        company.url != null &&
                        company.url != ""){
                        %>
                        <li style="padding: 3px;">
                            <a href="<%=company.url%>" target="_blank">
                                <img alt="<%=company.url%>" class="email_img" src="{% static 'img/retina/url.png' %}">
                            </a>
                        </li>
                        <%
                    }
                %>
                </ul>
            </div>

        </div>

        <br/>
        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" style="width: 100%; margin-left: 0px; margin-top: 20px;">

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Funding range (min):</span>
                          <p><%=funding_range_from%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Funding range (max):</span>
                          <p><%=funding_range_to%></p>
                        </div>
                    </li>

                    <li>
                        <div class="info-panel radius">
                          <span class="title">Company type:</span>
                          <p><%=company_type || 'unknown'%></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Kind:</span>

        <%
            if(typeof(kind) != "undefined"
                && kind != null
                && kind != "") {
                %>
                    <div class="activity-panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                        <span style="font-size:12px;"><%=kind%></span>
                    </div>
                <%
            }
            else{

               %>
                    <p>
                        <span style="font-size:12px; margin-left: 10px;">No known kind</span>
                    </p>
                <%

            }
        %>

            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">

            <span style="margin-left: 10px; text-decoration: underline;">Contact details:</span>

            <%
                if(contact.length > 0){

                    %>
                        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3" style="width: 100%; margin-left: 0px; margin-top: 10px;">
                            <%

                                for(var i=0; i<contact.length; i++) {

                                    var curr_contact = contact[i];
                                    if(curr_contact.name == null || curr_contact.name == ""){
                                        continue;
                                    }
                                    %>
                                        <li>
                                            <a href="mailto:<%=curr_contact.email%>">
                                                <div class="activity-panel radius">
                                                  <img alt="<%=curr_contact.name%>" class="activity_company_logo" src="<%=curr_contact.picture%>">
                                                  <span style="font-size:12px;"><%=curr_contact.name%></span>
                                                </div>
                                            </a>
                                        </li>
                                    <%
                                }
                            %>
                        </ul>

                    <%
                }
                else {

                    %>
                        <p style="margin-left: 10px;">
                            <span style="font-size:12px;">No known contact details</span>
                        </p>
                    <%
                }
            %>

            </div>
        </div>

        <div class="row overflow_hidden">
            <div class="large-12 columns" style="width: 100%; margin-left: 0px;">
            <span style="margin-left: 10px; text-decoration: underline;">Description:</span>

                <%
                    // console.log(guidelines);
                    if(typeof description != "undefined" &&
                        description != null &&
                        description != ""){
                            %>
                                <div class="panel radius" style="width: 97%; margin-left: 10px; margin-top: 5px;">
                                  <span style="font-size: 14px;"><%=description%></span>
                                </div>
                            <%
                    }
                    else {
                        %>
                            <p style="margin-left: 10px;">
                                <span style="font-size:12px;">No known description</span>
                            </p>
                        <%
                    }

                %>

            </div>
        </div>

    </div>
</script>