<script type="text/template" id="list_detail_view_contents">
    <div class="row">
        <!-- summarized list view-->
        <div class="large-4 medium-12 small-12 columns summ_list_container max_height_scroll" style="padding-left: 0px; padding-bottom: 10px;">
            <%
                for(var i=0; i< objects.length; i++){
                    var curr_obj = objects[i];
                    // console.log(curr_obj);
                    var location_str = startup_service.get_named_list_items(curr_obj.location);
                    %>

                    <div class="row summ_list_item gen_drop_shadow" style="margin-left: 7px; margin-right: 0px; margin-top: 5px; width: 99%;"
                         data-row_id=<%=curr_obj.id%> onclick="startup_service.render_row(this)" >
                        <div class="large-3 medium=3 small-3 columns">
                            <img alt="<%=curr_obj.company.name%>" class="contact_image" src="<%=curr_obj.company.logo%>">
                        </div>
                        <div class="large-9 medium=9 small-9 columns" style="padding-left: 0px;">
                            <span><%=curr_obj.company.name.trunc(30)%></span><br/>
                            <span><%=location_str%></span><br/>
                            <%
                                if(typeof(curr_obj.last_updated) != "undefined" &&
                                curr_obj.last_updated != null &&
                                curr_obj.last_updated != ""){

                                    var date_var = new Date(curr_obj.last_updated);
                                    %>
                                        <span>Last updated: <%=date_var.toDateString()%></span>
                                    <%
                                }
                            %>
                        </div>
                    </div>

                    <%
                }
            %>

                    <!-- div class="row summ_list_item gen_drop_shadow"
                         style="margin-left: 7px; margin-right: 0px; margin-top: 5px; width: 99%; text-align: center; background-color: rgba(255, 255, 255, 0.55)"
                         onclick="startup_service.load_more()" >
                        <span style="margin-top: 15px; display: block;">Load more..</span>
                    </div-->

        </div>

        <!-- detail view-->
        <div id="detailed_view_container_id" class="large-8 show-for-large-up columns detailed_view_container max_height_scroll" data-reveal>

        </div>

    </div>
</script>