{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}"/>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.cookie.js' %}"></script>
        <script src="{% static 'bower_components/foundation/js/foundation.min.js' %}"></script>
        <script src="{% static 'bower_components/foundation/js/foundation/foundation.abide.js' %}"></script>
        <script type="text/javascript">
            API_VERSION = '{{API_VERSION}}';
        </script>
        <script src="{% static 'js/lib/jquery.spin.js' %}" type="text/javascript"></script>
        <link href="{% static 'stylesheets/jquery.spin.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/lib/toastr.min.js' %}"></script>
        <script src="{% static 'js/lib/underscore-min.js' %}"></script>
        <script src="{% static 'js/http_handler.js' %}"></script>
        <script src="{% static 'js/user_service.js' %}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="content_container">
            {% block content %}{% endblock %}
        </div>
        {% block extra_scripts %}{% endblock %}

        <script src="{% static 'js/app.js' %}"></script>

        <script type="text/javascript" src="//platform.linkedin.com/in.js">
            api_key: {{LINKEDIN_API_KEY}}
            authorize: true
            onLoad: user_service.linkedin_done_loading
        </script>
        <div id="spinner_global_container" style="display:none;">
            <div id="spinner_inner_container">
                <div id="loading_anim">
                    <div class="spin" data-spin />
                </div>
                <div id="loading_text">
                    <span>Loading...</span>
                </div>
            </div>
        </div>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57409529-1', 'auto');
      ga('send', 'pageview');

    </script>

    </body>
</html>
