<br/>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div class="panel radius gen_drop_shadow" style="background: #FFFFFF;">
            <h4 id="etiquette_header"></h4>
            <div id="etiquette_body">
            </div>
        </div>
    </div>
</div>

