<br/>
<div class="row">
    <div class="large-12 medium-12 small-12 columns">
        <div data-alert class="alert-box info radius">
            Seed-Lists is an open source project that's made with love. support and contribute 
            <a href="https://bitbucket.org/itzikrou/seedlist" target="_blank">HERE</a>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>
