{% load staticfiles %}

<script type="text/template" id="list_detail_view_empty_detail">
    <!-- detail contents-->
    <div class="row detailed_view_body_contents max_height_scroll" style="margin-left: 1px;">
    </div>
</script>