{% extends "base.html" %}

{% block extra_head %}
    {% include "list_detail_view_empty_contents.html" %}
{% include "list_detail_view_empty_detail.html" %}
    {% block extra_head_child %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% include "top_bar.html" %}
    <div id="list_detail_view_container">
        <div id="filter_bar_container"></div>
        <div id="sort_bar_container"></div>
        <div id="contents_container"></div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block extra_scripts %}
    {% load staticfiles %}
    <script>
        ACTIVITY_LEVEL = {{ACTIVITY_LEVEL | safe}};
        INVESTOR_KIND = {{INVESTOR_KIND | safe}};
    </script>
    <script src="{% static 'js/list_detail_base_service.js' %}"></script>
    <script src="{% static 'js/list_detail_base.js' %}"></script>
    {% block extra_scripts_child %}
    {% endblock %}
{% endblock %}
