<script type="text/template" id="list_detail_view_empty_contents">
    <div class="row">
        <!-- summarized list view-->
        <div class="large-4 medium-12 small-12 columns summ_list_container max_height_scroll" style="padding-left: 0px; padding-bottom: 10px;">
            <div class="row summ_list_item gen_drop_shadow"
                 style="margin-left: 7px; margin-right: 0px; margin-top: 5px; width: 99%; text-align: center; background-color: rgba(255, 255, 255, 0.55)">
                <span id="no_results" style="margin-top: 15px; display: block;">No results</span>
            </div>

        </div>

        <!-- detail view-->
        <div id="detailed_view_container_id" class="large-8 show-for-large-up columns detailed_view_container max_height_scroll" data-reveal>

        </div>

    </div>
</script>