{% extends "base.html" %}
{% block head_title %}SeedLists{% endblock %}
{% block extra_head %}{% endblock %}
{% block content %}

{% load staticfiles %}

{% include "top_bar.html" %}

{% include "etiquette.html" %}

<div class="row">
    <div class="large-6 small-12 columns large-centered">
    </div>
</div>

{% include "footer.html" %}

{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/etiquette.js' %}"></script>
{% endblock %}
