{% extends "base.html" %}
{% block head_title %}SeedLists - sign in{% endblock %}

{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'stylesheets/login.css' %}"/>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-6 large-centered columns">
        <p>
            <h1 class="text-center" style="color: #222;">SeedLists</h1>
        </p>
    </div>
</div>


<div class="row">
    <div class="large-6 small-12 columns large-centered">
        <form id="login_form" data-abide="ajax">
            <fieldset>

                <legend>Signup</legend>

                <div>
                    <label>Email
                        <small>required</small>
                        <input id="email_input" type="email" required>
                    </label>
                    <small class="error">An email address is required.</small>
                </div>

                <div>
                    <label>First name
                        <small>required</small>
                        <input id="first_name_input" type="text" required>
                    </label>
                    <small class="error">A first name is required.</small>
                </div>

                <div>
                    <label>Last name
                        <small>required</small>
                        <input id="last_name_input" type="text" required>
                    </label>
                    <small class="error">A last name is required.</small>
                </div>

                <div class="password-field">
                    <label>Password
                        <small>required</small>
                        <input id="password_input" type="password" required>
                    </label>
                    <small class="error">A password is required</small>
                </div>

                <div class="password-field">
                    <label>Password (again)
                        <small>required</small>
                        <input id="password_input_again" type="password" required>
                    </label>
                    <small class="error">A password is required</small>
                </div>

                <div class="row">
                    <div class="large-12 columns">                      
                        <small id="signup_error" class="error"></small>
                    </div>
                </div>


                <button class="small radius" type="submit">sign up</button>

            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-6 large-centered columns">
        <fieldset>
            <legend>Connect</legend>
            <div>
                <a href="#">
                    <img id="linkedin-connect" 
                    onmouseover="hoverImg(this)" 
                    onmouseout="normalImg(this)" 
                    onclick="user_service.login_with_linkedin_onclick(this)" 
                    src="{% static 'img/retina/signin_small.png' %}"/>
                </a>
            </div>
        </fieldset>
    </div>
</div>


{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
