<div class="fixed gen_drop_shadow">
	<nav class="top-bar" data-topbar role="navigation">

		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="/" data-view-id="main">SeedLists</a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">Menu</a>
			</li>					
		</ul>
		
		<section class="top-bar-section">			
			<ul class="right">

				<li class="divider"></li>

                <li>
					<a href="/admin/">Admin-Site</a>
				</li>

                <li class="divider"></li>

				<li>
					<a id="investors_tab" href="/investors/">Investors</a>
				</li>

                <li class="divider"></li>

				<li>
					<a id="accelerators_tab" href="/accelerators/">Accelerators</a>
				</li>

                <li class="divider"></li>

				<li>
					<a id="vcs_tab" href="/vcs/">VCs</a>
				</li>

                <li class="divider"></li>

				<li>
					<a id="journalists_tab" href="/journalists/">Journalists</a>
				</li>

                <li class="divider"></li>

				<li>
					<a id="startups_tab" href="/startups/">StartUps</a>
				</li>			

				<li class="divider"></li>

				<li>
					<a href="#" onclick="user_service.logout(this);" data-action-id="logout">Logout</a>
				</li>
			</ul>						
		</section>
		
		<!--section class="top-bar-section">
			<ul class="right">
				
				<li class="divider"></li>

				<li class="has-form">
				  <div class="row collapse">
				    <div class="large-8 small-9 columns">
				      <input type="text" placeholder="Find Stuff">
				    </div>
				    <div class="large-4 small-3 columns">
				      <a href="#" class="button expand" style="font-size: 12px;">Search</a>
				    </div>
				  </div>
				</li>
				
			</ul>						
		</section-->

	</nav>
</div>
